<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Icon website --}}
    <link rel="icon" type="image/png" href="./assets/img/bigmood.png" sizes="16x16">
    {{!-- Import Google Icon Font --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- Materialize CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- JQuery --}}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    {{!-- Materialize JavaScript --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- Custom CSS Stylesheet Link --}}
    <link rel="stylesheet" href="./assets/css/{{style}}">

    <title>BigMood</title>
</head>

<body>

    {{{body}}}

</body>


</html>