{{!-- Nav Bar --}}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo center">BigMood</a>
            <a href="#" class="sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>

{{!-- Side Nav Bar --}}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="">
            </div>
            <a href="#user"><img class="circle" src=""></a>
            <a href="#name"><span class="white-text name"></span></a>
            <a href="#email"><span class="white-text email"></span></a>
        </div>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Theme</a></li>
</ul>

<!-- Modal Trigger -->
  <a class="btn-floating btn-large waves-effect waves-light indigo hoverable pulse modal-trigger" data-target="modal1" href="#modal1"><i class="material-icons" id='addNew'>add</i></a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

{{!-- Link to Dashboard JS --}}
<script src="../public/js/dashboard.js"></script>