{{!-- Nav Bar --}}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo center">BigMood</a>
            <a href="#" class="sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>

{{!-- Side Nav Bar --}}
<ul id="slide-out" class="sidenav">
    {{!-- User Info Section --}}
    <li>
        <div class="user-view">
            <div class="background">
                <img src="">
            </div>
            <a href="#user"><i class="material-icons">account_circle</i></a>
            <a href="#name"><span class="white-text name"></span></a>
            <a href="#email"><span class="white-text email"></span></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    {{!-- Theme Selection Section --}}
    <li><a class="subheader">Theme</a></li>
</ul>

<div class="container">
    <div class="row">
        <div class="col s12 m8 l6">
            <div class="card">
                <div class="card-content">
                    <h3>Dashboard Statistics</h3>
                    <p>{INSERT GRAPH HERE}</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#mood">Average Mood</a></li>
                        <li class="tab"><a class="active" href="#activity">Most Used Activity</a></li>
                        <li class="tab"><a href="#quote">Latest Quote</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="mood">
                        <h4>Average Mood</h4>
                    </div>
                    <div id="activity">
                        <h4>Most Used Activity</h4>
                    </div>
                    <div id="quote">
                        <h4>Latest Quote</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m8 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">All Entries</span>
                    <h5>Sort By:</h5>
                    {{!-- Dropdown Trigger --}}
                    <a class='dropdown-trigger btn' href='#' data-target='dropdownSort'><i class="material-icons">arrow_drop_down</i></a>

                    <ul id='dropdownSort' class='dropdown-content'>
                        <li><a href="#">Date</a></li>
                        <li><a href="#">Mood</a></li>
                        <li><a href="#">Activity</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal New Mood Entry --}}
<div class="container">
    <button class="btn indigo hoverable modal-trigger" data-target="newEntry">New Entry</button>
</div>

<div class="modal" id="newEntry">
    <div class="modal-content">
        <h3>How are you feeling?</h3>
        <div class="divider"></div>
        <h3>What are you doing?</h3>
        <div class="divider"></div>
        <div class="modal-footer">
            <h2>Preview</h2>
            <button class="btn green">Submit</button>
            <button class="btn red modal-close">Cancel</button>
        </div>

    </div>
</div>

{{!-- Link to Dashboard JS --}}
<script src="../public/js/dashboard.js"></script>