{{!-- Nav Bar --}}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">BigMood</a>
        </div>
    </div>
</nav>

{{!-- Side Nav Bar --}}
<ul id="slide-out" class="sidenav sidenav-fixed">

    {{!-- Close Side Nav --}}
    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>

    <li>
        <div class="user-view">
            <div class="background">
                <img src="">
            </div>
            <a href="#user"><img class="circle" src=""></a>
            <a href="#name"><span class="white-text name"></span></a>
            <a href="#email"><span class="white-text email"></span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<!-- Modal Trigger -->
  <a class="btn-floating btn-large waves-effect waves-light indigo hoverable pulse modal-trigger" data-target="modal1" href="#modal1"><i class="material-icons" id='addNew'>Modal</i></a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

{{!-- Link to Dashboard JS --}}
<script src="../public/js/dashboard.js"></script>