{{!-- Nav Bar --}}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">BigMood</a>
        <a href="#" class="sidenav-trigger show-on-large" data-target="slide-out"><i class="material-icons">menu</i></a>
    </div>
</nav>

{{!-- Side Nav Bar --}}
<ul id="slide-out" class="sidenav">
    {{!-- User Info Section --}}
    <li>
        <div class="user-view">
            <div class="background">
                <img src="">
            </div>
            <a href="#user"><i class="material-icons">account_circle</i></a>
            <a href="#name"><span class="white-text name"></span></a>
            <a href="#email"><span class="white-text email"></span></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    {{!-- Theme Selection Section --}}
    <li><a class="subheader">Theme</a></li>
</ul>

{{!-- Dashboard Content --}}
<div class="container" id="dashContent">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card center">
                <div class="card-content">
                    <h3>Dashboard Statistics</h3>
                    <p>{INSERT GRAPH HERE}</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#mood">Average Mood</a></li>
                        <li class="tab"><a class="active" href="#activity">Most Used Activity</a></li>
                        <li class="tab"><a href="#quote">Latest Quote</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="mood">
                        <h4>Average Mood</h4>
                    </div>
                    <div id="activity">
                        <h4>Most Used Activity</h4>
                    </div>
                    <div id="quote">
                        <h4>Latest Quote</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">All Entries</span>
                    <div class="input-field col s6">
                        <label>Sort By:</label>
                        <select>
                            <option value="">Choose your option</option>
                            <option value="1">Date</option>
                            <option value="2">Mood</option>
                            <option value="3">Activity</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>



{{!-- Modal New Mood Entry --}}
<button class="btn indigo hoverable modal-trigger" data-target="newEntry" id="modalButton"><i
        class="material-icons">add</i></button>


<div class="modal" id="newEntry">
    <div class="modal-content">

        <form id="createform">



            <h3>How are you feeling?</h3>
            <div id="mooodlist">


                <label>
                    <input class="with-gap" name="moodgroup" id="mooodlist1" value="1" type="radio" />
                    <span><i class="material-icons">sentiment_very_satisfied</i></span>
                </label>
                <label>
                    <input class="with-gap" name="moodgroup" id="mooodlist2" value="2" type="radio" />
                    <span><i class="material-icons">sentiment_satisfied</i></span>
                </label>
                <label>
                    <input class="with-gap" name="moodgroup" id="mooodlist3" value="3" type="radio" />
                    <span><i class="material-icons">sentiment_neutral</i></span>
                </label>
                <label>
                    <input class="with-gap" name="moodgroup" id="mooodlist4" value="4" type="radio" />
                    <span><i class="material-icons">sentiment_dissatisfied</i></span>
                </label>
                <label>
                    <input class="with-gap" name="moodgroup" id="mooodlist5" value="5" type="radio" />
                    <span><i class="material-icons">sentiment_very_dissatisfied</i></span>
                </label>

            </div>


            <div class="divider"></div>



            <h3>What are you doing?</h3>
            <div id="activitylist">

                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist1" value="1" type="radio" />
                    <span><i class="material-icons">delete</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist2" value="2" type="radio" />
                    <span><i class="material-icons">directions_run</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist3" value="3" type="radio" />
                    <span><i class="material-icons">group</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist4" value="4" type="radio" />
                    <span><i class="material-icons">casino</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist5" value="5" type="radio" />
                    <span><i class="material-icons">home</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist6" value="6" type="radio" />
                    <span><i class="material-icons">free_breakfast</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist7" value="7" type="radio" />
                    <span><i class="material-icons">album</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist8" value="8" type="radio" />
                    <span><i class="material-icons">book</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist9" value="9" type="radio" />
                    <span><i class="material-icons">directions_car</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist10" value="10" type="radio" />
                    <span><i class="material-icons">tv</i></span>
                </label>
                <label>
                    <input class="with-gap" name="activitygroup" id="activitylist11" value="11" type="radio" />
                    <span><i class="material-icons">domain</i></span>
                </label>
            </div>


            {{#each icon}}
            <label>
                <input class="with-gap" name="activitygroup" value="{{this}}" type="radio" />
                <span><i class="material-icons">{{this}}</i></span>
            </label>
            {{/each}}





            <div class="divider"></div>


            <div class="modal-footer">
                <button type="submit" class="btn green">Submit</button>
                <button class="btn red modal-close">Cancel</button>
            </div>


        </form>
    </div>
</div>

{{!-- Link to Dashboard JS --}}
<script src="./js/dashboard.js"></script>