<body>
  <div class="container">
    <div class="card card0" id="logincard">
      <div>
        <div class="card card1">
          <div class="row align center-block">
            <div class="col s8">
              <h6 class="msg-info">Please login to your account</h6>
              <form class="login">
                <div class="form-group">
                  <label for="inputEmail1" class="form-control-label">Email</label>
                  <input type="email" placeholder="Email" class="form-control" id="email-input">
                </div>
                <div class="form-group"> <label for="inputPassword1" class="form-control-label">Password</label> <input
                    type="password" placeholder="Password" class="form-control" id="password-input"></div>
                <div class="row align center-block"> <button type="submit" class="waves-effect waves-light btn-color"
                    id="loginbutton">Login</button>
                </div>
              </form>
            </div>

          </div>
          <div class="bottom text-center">
            <p href="#" class="align center-block">Need an account?<button type="submit"
                class="btn-white waves-effect waves-light" id="createnewbutton"><a href="/">Create
                  new</a></button></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
    <ul>
      <p>Copyright 2021</p>
      <p>Developed by Qi Feng, Jeremy Rice, Delph Sunny, Emily Spoldi</p>
    </ul>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
</body>