<!DOCTYPE html>
<html lang="en">

<head>
  <title>BigMood</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
  <link href="../public/assets/css/login.css" rel="stylesheet">
</head>

<body>

  <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="card card1">
          <div class="row justify-content-center my-auto">
            <div class="col-md-8 col-10 my-5">

              <h3 class="mb-5 text-center heading">BIGMOOD</h3>
              <h6 class="msg-info">Please login to your account</h6>
              <div class="form-group">
                <label for="inputEmail1" class="form-control-label text-muted">Username</label>
                <input type="email" placeholder="Email" class="form-control" id="email-input">
              </div>
              <div class="form-group"> <label for="inputPassword1"
                  class="form-control-label text-muted">Password</label> <input type="password" placeholder="Password"
                  class="form-control" id="password-input"></div>
              <div class="row justify-content-center my-3 px-3"> <button type="submit" class="btn-block btn-color"
                  id="loginbutton">Login</button>
              </div>
            </div>
          </div>
          <div class="bottom text-center mb-5">
            <p href="#" class="sm-text mx-auto mb-3">Don't have an account?<button type="submit"
                class="btn btn-white ml-2" id="createnewbutton">Create
                new</button></p>
          </div>
        </div>
        <div class="card card2">
          <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">BigMood is more than just an app</h3> <small class="text-white">A
              self-care bullet journal with golas mood diary & happiness tracker.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <ul>
      <p>Developed by:</p>
      <li>Qi Feng</li>
      <li>Jeremy Rice</li>
      <li>Delph Sunny</li>
      <li>Emily Spoldi</li>
    </ul>
  </div>

  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</body>

</html>