<body>
  <div class="container">
    <div class="card card0">
      <div>
        <div class="card card1">
          <div class="row align center-block">
            <div class="col s8">
              <div href="#" class="brand-logo center"><img id="logo" src="../assets/img/big_mood_v3.jpg">
              </div>
              <h6 class="msg-info">Please create your account</h6>
              <div class="form-group">
                <label for="inputEmail1" class="form-control-label">Email</label>
                <input type="email" placeholder="Email" class="form-control" id="email-input">
              </div>
              <div class="form-group">
                <label for="nameInput" class="form-control-label">Username</label>
                <input type="text" placeholder="Username" class="form-control" id="name-input">
              </div>
              <form class="signup">
                <div class="form-group"> <label for="inputPassword1" class="form-control-label">Password</label> <input
                    type="password" placeholder="Password" class="form-control" id="password-input"></div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <div class="row align center-block"> <button type="submit" class="btn-block btn-color"
                    id="signupbutton">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
          <div class="bottom text-center">
            <p href="#">Have an account?<button class="btn-white waves-effect waves-light" id="backtologinbutton"><a
                  href="/login">Login</a></button></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
    <ul>
      <p>Copyright 2021</p>
      <p>Developed by Qi Feng, Jeremy Rice, Delph Sunny, Emily Spoldi</p>
    </ul>
  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript" src="js/signup.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
</body>