
body {
    background-color: white;
}

#logo {
  height: 6rem;
  width: 6rem;
}

#dashContent {
    background-color: lightgray;
    align-content: center;
    margin-top: 1rem;
}

#modalButton {
    position: sticky;
    right: 0;
    bottom: 0;
}

#author {
    font-style: italic;
}

.profile {
    width: 7rem;
    height: 7rem;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: auto;
}

.dev-team {
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h5 {
    margin-bottom: 1.5rem;  
}

.logo-nav {
    padding: 25px;
}

/* For the Chart */
.container-chart {
    width: 100%;
    margin: 3%;
    position: relative;
  }
.chartjs-y {
  padding: 0 !important;
  position: absolute; 
            top: 17px; 
            left: 0px;
}

.chart-label {
  margin-top: 0.2rem;
}
.chart-image{
    margin-left: 30px; 
}

#chart{
    width: 50%;
}