:root {
    --primary-bg-color: #400080; /*Dark Blue Color */
    --primary-color: #ffffff; /* White Color */
  }

body {
    background-color: black;
}

#dashContent {
    background-color: lightgray;
    align-content: center;
}


#modalButton {
    position: sticky;
    right: 0;
    bottom: 0;
}

#author {
    font-style: italic;
}

.profile {
    margin-bottom: 2rem;
}

.dev-team {
    margin-bottom: 2rem;
}

h5 {
    margin-bottom: 1.5rem;  
}

.logo-nav {
    padding: 25px;
}

.hero {
    background: var(--primary-bg-color);
    color: var(--primary-color);
 }